*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
  color: #777; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 184, 69, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__h {
    color: #fff;
    text-align: center;
    backface-visibility: hidden; }
    .header__h-main {
      text-transform: uppercase;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      display: block;
      animation-name: moveInleft;
      animation-duration: 2s; }
    .header__h-sub {
      text-transform: uppercase;
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.5rem;
      animation-name: moveInRight;
      animation-duration: 2s;
      margin-bottom: 6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    display: table;
    content: "";
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 8rem)) * 2 / 3 + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 8rem)/4 + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 8rem) / 4 + 2 * 8rem); }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #28b845, #7ed56f);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 6rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }
  .btn:link::after, .btn:visited::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s; }
  .btn:link:hover, .btn:visited:hover {
    transform: translateY(-2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35); }
    .btn:link:hover::after, .btn:visited:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:link:active, .btn:visited:active {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35); }

.btn-text:link, .btn-text:visited {
  padding: .5rem 1.5rem;
  color: #55c57e;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all .2s;
  display: inline-block; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57e;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    border-radius: 2px;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: all .2s; }
    .composition__photo::after {
      display: table;
      content: "";
      clear: both; }
    .composition__photo-1 {
      top: -2rem;
      left: 0; }
    .composition__photo-2 {
      top: 2  rem;
      right: 0; }
    .composition__photo-3 {
      right: 20%;
      top: 10rem; }
    .composition__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
      z-index: 3;
      outline: 1rem solid #55c57e;
      outline-offset: 1.5rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 184, 69, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .feature > * {
    transform: skewY(7deg); }
  .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    transition: all .3s; }
    .feature-box:hover {
      transform: translateY(-1.5rem); }
    .feature-box__icon {
      font-size: 6rem;
      background-image: linear-gradient(to right, #28b845, #7ed56f);
      display: inline-block;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }

.tours {
  padding: 25rem 0 0rem 0;
  background-color: #f7f7f7;
  margin-top: -7.8rem; }

.cart {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem;
  overflow: hidden; }
  .cart__side {
    height: 55rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    .cart__side--front {
      transform: rotateY(0deg); }
    .cart__side--back {
      transform: rotateY(-180deg); }
      .cart__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cart__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .cart__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b845); }
  .cart:hover .cart__side--front {
    transform: rotateY(180deg); }
  .cart:hover .cart__side--back {
    transform: rotateY(0deg); }
  .cart__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); }
    .cart__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
  .cart__heading {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 6rem;
    text-align: right;
    width: 75%; }
    .cart__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .cart__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .cart__details {
    padding: 3rem; }
    .cart__details ul {
      list-style-type: none;
      font-size: 1.5rem;
      margin: 0 auto; }
      .cart__details ul li {
        text-align: center;
        padding: 1rem;
        width: 80%; }
        .cart__details ul li :not(:last-child) {
          border-bottom: 1px solid #eee; }
  .cart__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .cart__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .cart__price-only {
    text-transform: uppercase;
    font-size: 1.5rem; }
  .cart__price-value {
    font-size: 6rem;
    font-weight: 100; }

.stories {
  padding: 5rem 0 15rem 0;
  background-color: #f7f7f7; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .story__img {
    height: 100%; }

.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25rem; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes harekateDokme {
  0% {
    transform: scale(1.5); }
  100% {
    opacity: 0; } }
