.navigation{
  &__checkbox{

  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 10001;
    //در واقع این میاد روی بک گراند قرار میگیره
    //کلیک که بشه چک باکس تیک میخوره چون لیبل است

  }

  &__background {
    // این دکمه ای است که در کنار صفحه میاید و فیکس است
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    //radial-gradient 
    //مثل linear-gradient
    //است با این تفاوت که گرد است و از وسط به اطراف میرود
    
  }

  &__nav {

  }

  &__list {

  }

  &__item {

  }

  &__link {

  }
}