.navigation{
  &__checkbox{

  }

  &__button {

  }

  &__background {
    // این دکمه ای است که در کنار صفحه میاید و فیکس است
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    //radial-gradient 
    //مثل linear-gradient
    //است با این تفاوت که گرد است و از وسط به اطراف میرود
    
  }

  &__nav {

  }

  &__list {

  }

  &__item {

  }

  &__link {

  }
}