.navigation{

  &__icon {
    
  }

  &__checkbox{
    display: none;

    &:checked ~ &__background {
      transform:  scale(80);
    }
    //این کد کار نمیکنه چون در جای درست سلکت نشده
    //scss درست کامپایل نمیکنه
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);  
    z-index: 2000;
    //در واقع این میاد روی بک گراند قرار میگیره
    //کلیک که بشه چک باکس تیک میخوره چون لیبل است
    
  }

  &__background {
    // این دکمه ای است که در کنار صفحه میاید و فیکس است
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    //radial-gradient 
    //مثل linear-gradient
    //است با این تفاوت که گرد است و از وسط به اطراف میرود
    transition: transform .8s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 50%;
    //z-index این المنت باید بین اون 2 تا بشه 
    //که بک گراند پشتش و دکمه روش باشه
    z-index: 1500;

    opacity: 0;
    //مشکل اینه که الان نامریی هستند ولی میشه روشون کلیک کرد
    width: 0;
    transition: opacity .8s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: $color-white;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 220%;
    transition: all .4s;
    }

    &:active,
    &:hover {
    background-position: 100%;
    color: $color-primary;
    }
  }

  //الان مثل زمانی که توی قسمت بود بود میخوایم لیبل به رایو باتون که این جا چک باکس است وصل بشه
  //سه تا چیز داریم لیبل چک باکس و پس زمینه
  //زمانی که چک باکس کلیک شد بخوره روی لیبل و پس زمینه عوض بشه

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
  }
}

