.booking{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom,
  $color-primary-dark,
  $color-primary-light);
}

.book {
  background-image: url('../img/nat-10.jpg');
  border-radius: 3px; 
  height: 50rem;
}