.cart {
  // background-color: rgba($color-white, .8);
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  overflow: hidden;

  &__side {
    height: 50rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    &--front {
      transform: rotateY(0deg);

      &-1{

      }
  
      &-2{
  
      }
  
      &-3{
  
      }
    }

    &--back {
      transform: rotateY(-180deg);

      &-1{
        background-image: linear-gradient(to right bottom,
        $color-secondary-light,
        $color-secondary-dark);
      }
  
      &-2{
        background-image: linear-gradient(to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark);
      }
  
      &-3{
        background-image: linear-gradient(to right bottom,
        $color-primary-light,
        $color-primary-dark);
      }
    }

  }


  &:hover &__side--front {
    transform: rotateY(180deg);

    &-1{

    }

    &-2{

    }

    &-3{

    }
  }

  &:hover &__side--back {
    transform: rotateY(0deg);

    &-1{

    }

    &-2{

    }

    &-3{

    }
  }

  //FRONT SIDE STYLING
  
  &__picture{
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); 

    &--1{
      background-image: linear-gradient(to right bottom,
        $color-secondary-light,
        $color-secondary-dark), url(../img/nat-5.jpg);
    }

    &--2{
      // background-image: url(../img/nat-5.jpg);
      // background-image: linear-gradient(to right bottom,
      // $color-tertiary-light,
      // $color-tertiary-dark);
    }

    &--3{
      // background-image: url(../img/nat-5.jpg);
      // background-image: linear-gradient(to right bottom,
      // $color-primary-light,
      // $color-primary-dark);
    }
  }


  &__heading{
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    left: 2rem;
    text-align: right;
  }

  &__details{

  }



}