.form{

  &__group{
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }

  &__input{
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    font-family: inherit;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    color: inherit;

    &:focus {
      //focus besoorate default roye input ha hast
      outline: none;
      //agar out line dadim kasaee ke mouse nadaran moshkel peyda mikonan =>
      box-shadow: 0 1rem 2rem rgba($color-black, .5);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 5px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__label{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
  }

}