.popup {
  background-color: rgba($color-black, .8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  // display: none;
  //بالا ی گزینه خوبی نیست چون نمیتونیم استایلش بدیم

  opacity: 0;
  //تنهایی اوکی نیست و المنت هنوز همون جاس
  visibility: hidden;
  //اینو برای رفع مشکل اپاسیتی اضافخ میکنیم
  transition: all .3s;

  &:target {
    opacity: 1;
    visibility: visible;
    //تارگت بالا یعنی زمانی که به المنت انخور میدیم 
    //یو ار ال اسم ان رو به خودش میگیره
  }

  &__content {
    background-color: $color-gray-light-2;
    z-index: 11;
    width: 75%;
    position: absolute;
    //من این جا پوزیشن فیکس دادم 
    //کار کرد
    //ولی نیاز ی به پوزیشن فیکس نداشت
    //چون این فرزند بالا یی است و اون ک فیکس شد اینو داخل خودش بصورت ابسلوت
    //میگیره و هر جایی خواستیم قرارش میده
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    //این جا عنصر والد است 
    //بهش نمایش تیبل میدیم
    //به بچه هاش تیبل سل
    //این جوری بروزر به جفتشون یک اندازه ارتفاع میده
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    //توی تیبل سل به خوبی جواب میده
  }

  &__img  {
    width: 100%;
    display: block;
  }

  &__text {
    column-count: 2;
    //این جوری متن ما به دو قسمت تقسیم میشه

    column-gap: 4rem;
    //مقدار فاصله وسط دو ستون یا کالم رو مشخص میکنه

    column-rule: 1px solid black;
    //این یه چیزیه مثل بوردر میاد وسط ود تا کالمن قرار میگیره

    hyphens: auto;
    //این میاد جایی که متن تموم میشه یه خط تیره میزارخ
    //و زمانی که میگیریم اونم میگیره و سلکت میکنه
  }
}