.popup {
  background-color: rgba($color-black, .8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__content {
    background-color: $color-gray-light-2;

  }
}