@mixin clearfix {
  &::after{
    display: table;
    content: "";
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// این جوری میتونیم از این میکسین استفاده کنیم و محتوا رذا داخل ان بنویسیم
@mixin phone  {
  @media screen and (max-width: 600px){
    @content
  };
}
//دلیل این که الان کار نمیکنه چیه ؟

//1. چجوری ارگومان براش رد میکنیم؟
//1-جواب 

//2. مرحله بعدی چیه؟
@mixin responsive ($brakpoint){
  
}
