@mixin clearfix {
  &::after{
    display: table;
    content: "";
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// این جوری میتونیم از این میکسین استفاده کنیم و محتوا رذا داخل ان بنویسیم
@mixin phone  {
  @media screen and (max-width: 600px){
    @content
  };
}
//دلیل این که الان کار نمیکنه چیه ؟

//1. چجوری ارگومان براش رد میکنیم؟
//1-جواب 

//2. مرحله بعدی چیه؟
//2- درست کردن حالت شرطی
//چجوریشم یادته؟
//پرانتز نداره
//این چرا غلطه؟ کانتنت جاش کجاس؟
//توی مدیا نوشته میشه
//الان چی کار کنیم؟
@mixin responsive ($breakpoint){
  @if  $breakpoint == phone {
    @media (max-width: 600px) {
      @content
    };
  }
}

//چیز مهمی که یاد میگیرم اینه که کلمه بریکپوینت برای سس تعریف شده است

// @mixin breakpoint($breakpoint) {
//   @if $breakpoint == phone {
//        @media (max-width: 600px) { @content };
//   }
//   @if $breakpoint == tablet-port {
//        @media (max-width: 600px) { @content };
//   }
//   @if $breakpoint == tablet-land {
//        @media (max-width: 600px) { @content };
//   }
// }