@mixin clearfix {
  &::after{
    display: table;
    content: "";
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// این جوری میتونیم از این میکسین استفاده کنیم و محتوا رذا داخل ان بنویسیم
@mixin phone  {
  @media screen and (max-width: 600px){
    @content
  };
}
//دلیل این که الان کار نمیکنه چیه ؟

//1. چجوری ارگومان براش رد میکنیم؟
//1-جواب 

//2. مرحله بعدی چیه؟
//2- درست کردن حالت شرطی
//چجوریشم یادته؟
//پرانتز نداره
//این چرا غلطه؟ کانتنت جاش کجاس؟
//توی مدیا نوشته میشه
//الان چی کار کنیم؟
@mixin responsive ($breakpoint){
  @if  $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content
    };
  }
}
//الان این 2 تا خط اضافه شد و باعث شد 2 تا شرط بررسی بشه
//این که طرف اسکرین باشه و مثلا در حال پرینت گرفتن نباشه بعد مکث ویت

//چیز مهمی که یاد میگیرم اینه که کلمه بریکپوینت برای سس تعریف شده است

// @mixin breakpoint($breakpoint) {
//   @if $breakpoint == phone {
//        @media (max-width: 600px) { @content };
//   }
//   @if $breakpoint == tablet-port {
//        @media (max-width: 600px) { @content };
//   }
//   @if $breakpoint == tablet-land {
//        @media (max-width: 600px) { @content };
//   }
// }

//توی مدیا کوری ها از ام استفاده میکنیم چون رم توی بعضی یروزر ها درست ساپورت نمیشه

//نکته دومی که هست اینه ک اگه با دسکتاپ شروع میکنیم باید اخرین مدیا کوری مال کوچکترین باشه


::selection {
  background-color: $color-primary;
  color: $color-white;
}
//این میاد چیزی رو که با موس میگیریم درست میکنه