// COLORS
$color-primary: #55c57e;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b845;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-white: #fff;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-black: #000;
$color-box-shadow: rgba(0, 0, 0, 0.35);

//GRID
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;


//برای درست کردن عکس های ریسپانسیو نه تنها عکس ها باید خودشون رو توی صفحه جا بدن بلکه بحث حجم هم مهم است
//مورد دوم
//2x screen vs 1x screen
//برای ریزولوشن های 2 برابر باید عکس ها سویچ بشن و اونی ک ریزولوشن بهتری ساپورت میکنه استفاده بشه
//art direction
//این به ما کمک میکنه که اگه لازم شد عکس با ریزولوشن دیگه ای یا حجم دیگه ای رو 
//استفاده کنیم